@import url("https://use.typekit.net/flx8vmy.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Brand-Black: 10 9 23;
  --Brand-White: 255 255 255;
  --Brand-Grey: 45 51 84;
}
